.dialog {
	.background {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background: rgba(0, 0, 0, 0.5);

		&.ignore-click {
			cursor: wait;
		}

		.foreground {
			position: absolute;
			cursor: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: auto;

			max-height: 90%;
			max-width: 90%;
			background: white;
			padding: 0.5rem;

			.content {
				padding: 0.5rem;
			}

			.buttons {
				margin: 0.5rem 0 0 0;
				text-align: center;

				button {
					margin: 0.5rem;
					min-width: 4rem;

					/*
					&.close {
					}

					&.yes {
					}

					&.no {
					}
					*/
				}
			}
		}
	}
}
