AddType application/x-httpd-php80 .php

# ルーティング用
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/deploy/php-deploy-receiver.php$
    RewriteCond %{REQUEST_URI} !^/styles/(.+\.css)(\?[a-zA-Z0-9]*)?$
    RewriteCond %{REQUEST_URI} !^/scripts/(.+\.js)(\?[a-zA-Z0-9]*)?$
    RewriteCond %{REQUEST_URI} !^/assets/.+
    RewriteRule . index.php
</IfModule>

