# ルーティング用
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !deploy/php-deploy-receiver.php
    RewriteCond %{REQUEST_URI} !\.((css)|(js)|(json)|(xml))(\?.*)?$
    RewriteCond %{REQUEST_URI} !\.((jpe?g)|(gif)|(png))(\?.*)?$
    RewriteRule ^.*$ index.php
</IfModule>

#####wpcomment_nojpdeny#####
SetEnvIf Request_URI ".*" WpCommentDeny
#####end:wpcomment_nojpdeny#####
