.vscode/
temp/
/node_modules/
/coverage/
/public_html/scripts/
/public_html/styles/
/public_html/PeServer/data/
/public_html/PeServer/config/setting.production.json
/public_html/PeServer/config/setting.development.json
/dev/local-*
desktop.ini
*.lnk
-*
@*
$*
*.tmp
*.log
/public_html/deploy/
/public_html/.fast-cgi-bin/
/public_html/log/
/dev/PHPUnit/
/dev/phpstan-*.phar
/test/.phpunit.result.cache
/test/phpunit.phar

