.vscode/
temp/
/node_modules/
/coverage/
/api-doc/
/public_html/scripts/
/public_html/styles/
/public_html/public/
/PeServer/data/
/PeServer/config/setting.production.json
/PeServer/config/setting.development.json
/PeServer/config/setting.it.json
/PeServer/config/setting.st.json
/dev/local-*
desktop.ini
*.zip
*.7z
*.lnk
-*
@*
$*
^*
*.zip
*.7z
*.tmp
*.log
*.bak
/public_html/deploy/
/public_html/.fast-cgi-bin/
/public_html/log/
/dev/extracts/*
/dev/*.phar.*
/dev/*.phar
/dev/bleedingEdge.neon
/test/.phpunit*
/test/phpunit.phar.*
/PeServer/Core/Libs/php-markdown/test
/dev/.phpunit.cache
/dev/.phpdoc
/test/storage-*
/_backup_restore_/
