parameters:
  level: 8
  phpVersion: 80200

  checkAlwaysTrueCheckTypeFunctionCall: true
  checkAlwaysTrueInstanceof: true
  checkAlwaysTrueStrictComparison: true
  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkInternalClassCaseSensitivity: true
  reportMaybesInMethodSignatures: true
  reportMaybesInPropertyPhpDocTypes: true
  reportStaticMethodSignatures: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkGenericClassInNonGenericObjectType: true
  checkDynamicProperties: true
  inferPrivatePropertyTypeFromConstructor: true
  rememberPossiblyImpureFunctionValues: false

  # parallel:
  #   jobSize: 20
  #   maximumNumberOfProcesses: 32
  #   minimumNumberOfJobsPerProcess: 2

  paths:
    - ../public_html
  excludePaths:
    - ../public_html/deploy
    - ../public_html/PeServer/data
    - ../public_html/PeServer/Core/Libs
  scanFiles:
    - ../public_html/PeServer/Core/Libs/smarty/libs/Smarty.class.php
    - ../public_html/PeServer/Core/Libs/smarty/libs/sysplugins/smarty_internal_template.php
    - ../public_html/PeServer/Core/Libs/smarty/libs/sysplugins/smarty_internal_data.php
    - ../public_html/PeServer/Core/Libs/PHPMailer/src/PHPMailer.php
    - ../public_html/PeServer/Core/Libs/PHPMailer/src/SMTP.php
    - ../public_html/PeServer/Core/Libs/php-markdown/Michelf/Markdown.php
    - ../public_html/PeServer/Core/Libs/php-markdown/Michelf/MarkdownExtra.php
    - ../public_html/PeServer/Core/Libs/php-markdown/Michelf/MarkdownInterface.php
  ignoreErrors:
    #入力なしの戻り値型強制できないのがつーらーいー
    - '/Template type TFieldArray of method PeServer\\.+::.+\(\) is not referenced in a parameter./'
    #本体設定系はめっちゃくちゃなことをするので初期化系エラーは無視
    - '/Class PeServer\\App\\Models\\Configuration\\\w+Setting(Base)? has an uninitialized @readonly property \$\w+\. Assign it in the constructor\./'
    - '/@readonly property cannot have a default value\./'

  typeAliases:
    UnsignedIntegerAlias: 'int<0, max>'
    LogMessageAlias: 'object|array<mixed>|null|literal-string'
    ServerStoreValueAlias: 'string|int|array<int|string|null>|object|null'
    DatabaseBindValueAlias: 'string|int|float|bool'
    FormatAlias: 'string|int|float'
    FieldArrayAlias: 'non-empty-array<array-key,mixed>'

includes:
  - ./bleedingEdge.neon
