parameters:
  level: 7
  paths:
    - ../public_html
  excludePaths:
    - ../public_html/PeServer/data
    - ../public_html/PeServer/Libs
    - ../public_html/deploy
    - ../public_html/PeServer/App/Models/Domains/Api/Development/DevelopmentInitializeLogic.php
  scanFiles:
    - ../public_html/PeServer/Libs/smarty/libs/Smarty.class.php
