parameters:
  level: 3
  paths:
    - ../public_html
  excludePaths:
    - ../public_html/PeServer/data
    - ../public_html/PeServer/Libs
    - ../public_html/deploy
    - ../public_html/PeServer/App/Models/Domains/Api/Development/DevelopmentInitializeLogic.php
