<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="../test/test.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" colors="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnTestsThatTriggerErrors="true">
  <testsuites>
    <testsuite name="ut">
      <directory>../test/PeServerUT</directory>
    </testsuite>
    <testsuite name="it">
      <directory>../test/PeServerIT</directory>
    </testsuite>
    <testsuite name="st">
      <file>../test/PeServerST/No_2_010_InitializeTest.php</file>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">../PeServer</directory>
    </include>
    <exclude>
      <directory>../deploy</directory>
      <directory>../PeServer/data</directory>
      <directory>../PeServer/Core/Libs</directory>
      <file>../PeServer/App/Models/Domain/Api/DevelopmentApi/DevelopmentApiInitializeLogic.php</file>
    </exclude>
  </source>
</phpunit>
