<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="../test/bootstrap.php"
	cacheResultFile="../test/.phpunit.result.cache"
	executionOrder="depends,defects"
	forceCoversAnnotation="false"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	convertDeprecationsToExceptions="true"
	failOnRisky="true"
	failOnWarning="true"
	verbose="true"
	colors="true"
>
	<testsuites>
		<testsuite name="default">
			<directory>../test/PeServerTest</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">../public_html/PeServer</directory>
		</include>
		<exclude>
			<directory>../public_html/deploy</directory>
			<directory>../public_html/PeServer/data</directory>
			<directory>../public_html/PeServer/Core/Libs</directory>
			<file>../public_html/PeServer/App/Models/Domain/Api/DevelopmentApi/DevelopmentApiInitializeLogic.php</file>
		</exclude>
	</coverage>
</phpunit>
