@mixin clipboard-base {
	$padding: 0 0.5ex;

	&.pg-clipboard-ok {
		padding: $padding;
		cursor: default;
		user-select: none;
	}

	.pg-clipboard-copy {
		padding: $padding;
		border-radius: 2px;
		border: 1px solid #888;
		background: #ddd;

		&:hover {
			background: #eee;
			border-color: #999;
		}

		&:active {
			background: #fff;
		}

		&:focus {
			border-color: #444;
			outline: 0;
		}
	}
}

[data-clipboard="inline"] {
	.pg-clipboard-base {
		margin-left: 0.5ex;

		@include clipboard-base;
	}
}

[data-clipboard="block"] {
	position: relative;

	.pg-clipboard-base {
		position: absolute;
		top: 0;
		right: 0;

		@include clipboard-base;
	}
}

[data-clipboard="data"][data-clipboard-value] {
	cursor: pointer;
}
