@use "font" as font;

code {
	@include font.monospace;
	border: 1px solid #999;
	padding: 0 3px;
	margin: auto 3px;
	border-radius: 0.5ex;
}

pre {
	@include font.monospace;

	max-width: 95vw;
	border: 1px solid #666;
	overflow: auto;
	max-height: 70vh;
	padding: 0.5ex;
}

p,
dl,
table,
pre {
	max-width: 95%;
	margin-left: 1em;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

ul,
ol {
	margin-left: 1ex;
	margin-top: 1ex;
	margin-bottom: 1ex;

	ul,
	ol {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

hr {
	border: 0;
	border-bottom: 2px dashed #ccc;
	background: #999;
	margin: 1.5ex 0.5em;
}

*.mute {
	opacity: 0.7;
}

*.flat {
	display: inline-block;
}

*.monospace {
	@include font.monospace;
}
