@import "variable";
@import "responsive";

body {
	color: $color;
	background-color: $background-color;

	main {
		@include media($mediaPhone) {
			// margin-top: $spAdvertisingHeight;
		}

		#title {
			position: fixed;
			top: 0;
			left: 0;
			height: $pcTitleHeight;

			background: orange;

			@include media($mediaPhone) {
				position: inherit;
				height: inherit;
				margin-top: $spAdvertisingHeight;

				background: rgb(26, 151, 26);
			}
		}

		#content {
			margin-top: calc(#{$pcTitleHeight} + #{$pcHeaderHeight});
			margin-bottom: calc(#{$pcFooterHeight} + #{$pcAdvertisingHeight});

			background: lime;

			@include media($mediaPhone) {
				margin: inherit;
				position: inherit;
				height: inherit;

				background: rgb(104, 127, 190);
			}
		}
	}

	header {
		position: absolute;
		top: $pcTitleHeight;
		right: 0;
		height: $pcHeaderHeight;

		background: skyblue;

		@include media($mediaPhone) {
			position: inherit;
			height: inherit;

			background: rgb(197, 182, 44);
		}

		ul {
			li {
				display: inline-block;
			}
		}
	}

	footer {
		position: fixed;
		bottom: $pcAdvertisingHeight;
		left: 0;
		height: $pcFooterHeight;

		background: pink;

		@include media($mediaPhone) {
			position: inherit;
			height: inherit;

			background: rgb(181, 6, 197);
		}

		ul {
			li {
				display: inline-block;
			}
		}
	}

	#advertising {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: $pcAdvertisingHeight;

		background: red;

		@include media($mediaPhone) {
			position: absolute;
			top: 0;
			height: $spAdvertisingHeight;

			background: rgb(27, 212, 21);
		}
	}
}
