html,
body {
	font-size: 12pt;
	font-family: "Verdana", "Skia-Regular_Condensed", "Tahoma", "Meiryo UI", "メイリオ", Meiryo, "Osaka", YuGothic,
		"Yu Gothic", sans-serif;
	line-height: 1.3em;
	font-weight: normal;
}
