html,
body {
	font-size: 12pt;
	font-family: "Verdana", "Skia-Regular_Condensed", "Tahoma", "Meiryo UI", "メイリオ", Meiryo, "Osaka", YuGothic,
		"Yu Gothic", sans-serif;
	line-height: 1.3em;
	font-weight: normal;
}

@mixin monospace {
	font-family: "MigMix 1M", "MigMix 2M", "Rounded M+ 1m regular", "Rounded M+ 2m regular", Inconsolata, Consolas, monospace;
}
