@use "core/responsive" as responsive;
@use "font" as font;

$_border_width: 2px;

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include font.monospace;

	&.edit {
		padding: 0.5ex 1ex;
		border: $_border_width solid #888;
		box-sizing: border-box;
		border-radius: $_border_width * 2;

		&:focus {
			border: $_border_width solid #222;
			outline: 0;
		}

		&:read-only {
			background: #d8d8d8;
		}

		&.error {
			background: #faa;
		}

		&.developer-comment {
			width: 95%;
			height: 12em;
		}
	}
}

dt.action {
	margin-top: 1ex;

	&:before {
		content: "\00a0";
		font-size: 0;
	}
}

button.action,
input[type="submit"].action,
input[type="reset"].action,
.action button,
.action input[type="submit"],
.action input[type="reset"] {
	padding: 0.5em 1em;
	border-radius: $_border_width * 2;
	border: $_border_width solid #888;
	background: #ccc;

	&:enabled {
		&:hover {
			background: #ddd;
			border-color: #999;
		}

		&:active {
			background: #fff;
			transform: translateY(2px);
		}

		&:focus {
			border-color: #444;
			outline: 0;
		}
	}

	&.sub {
		padding: 0.2ex 1ex;
	}
}

form > dl.input {
	@include responsive.media(responsive.$phone) {
		width: 95%;
	}

	& > dt {
		margin-bottom: 0.5ex;

		ul.helper {
			display: inline-block;
			list-style: none;

			margin: 0;
			padding: 0;

			& > li {
				display: inline-block;

				margin: 0 0 0 1em;
				padding: 0;

				& + li {
					margin-left: 1ex;
				}
			}
		}
	}
	& > dd {
		$margin-left: 4em;
		margin-left: $margin-left;

		> * {
			width: calc(80% - #{$margin-left});
		}

		& + dt {
			margin-top: 1em;
		}

		textarea {
			height: 12em;
		}

		@include responsive.media(responsive.$phone) {
			margin-left: 0;

			textarea {
				height: 6em;
			}

			> * {
				width: 100%;
			}
		}

		&.action {
			margin-top: 0.5em;
		}
	}
}

form.page-account-login,
form.page-account-sign-up {
	& > dl.input {
		margin: 0 auto;
		width: 50%;
	}
}

form.page-account-login .password-reminder {
	margin-top: 2em;

	p {
		text-align: center;
	}
}

form.page-account-sign-up {
	img.token {
		width: auto;
		height: auto;
		box-shadow: 0px 0px 4px 2px #aaa;
		display: inline-block;
		margin: 0.5em 0.5ex;
		vertical-align: middle;
	}
}

form .tab {
	$margin-left: 4em;

	.markdown {
		overflow: auto;
	}

	textarea,
	.markdown {
		width: 100%;
		height: 12em;

		@include responsive.media(responsive.$phone) {
			height: 6em;
		}
	}
}
