@use 'variable' as variable;
@use 'responsive' as responsive;

$break: responsive.$phone;

@mixin links {
	ul {
		height: 100%;

		li {
			height: 100%;
			display: inline-block;

			& + li {
				margin-left: 1rem;
			}

			a {
				height: 100%;

				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
}

* {
	transition-property: background-color;
	transition-duration: 0.25s;
}

body {
	color: #111;
	background-color: rgb(231, 173, 173);

	height: calc(100% - #{variable.$pcAdvertisingHeight});
	@include responsive.media($break) {
		height: calc(100% - #{variable.$spAdvertisingHeight});
	}

	main {
		#title {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: variable.$pcTitleHeight;
			z-index: 100;

			font-size: 16pt;
			font-weight: bold;
			line-height: variable.$pcTitleHeight;
			padding-left: 1rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			background: orange;

			@include responsive.media($break) {
				display: block;
				position: relative;
				width: calc(100% - #{variable.$spNavigationWidth});
				height: variable.$spTitleHeight;
				line-height: variable.$spTitleHeight;
				margin-top: variable.$spAdvertisingHeight;
				padding-left: 0;
				text-align: center;

				background: rgb(26, 151, 26);
			}
		}

		#content {
			margin-top: variable.$pcTitleHeight + variable.$pcHeaderHeight;
			margin-bottom: variable.$pcFooterHeight + variable.$pcAdvertisingHeight;
			padding: 2rem 4rem 3rem;

			background: lime;

			@include responsive.media($break) {
				margin-top: 0;
				margin-bottom: variable.$spFooterHeight;
				padding: 2rem 2rem 3rem;
				position: inherit;
				height: inherit;

				background: rgb(104, 127, 190);
			}
		}

		// 一旦こいつらは後回し
		.common {
			margin-top: variable.$pcTitleHeight + variable.$pcHeaderHeight;
			@include responsive.media($break) {
				margin-top: 0;
			}

			&.messages {
				color:lime;
			}
			&.error {
				color:red;
			}
		}

		.common.messages + #content {
			margin-top: 0;
		}
		.common.error + #content {
			margin-top: 0;
		}
	}

	nav {
		display: none;

		@include responsive.media($break) {
			display: block;
			height: variable.$spTitleHeight;
			position: absolute;
			top: variable.$spAdvertisingHeight;
			right: 0;

			details {
				summary {
					display: block;
					margin-left: auto;
					background-color: #add8e6;
					height: variable.$spTitleHeight;
					width: variable.$spNavigationWidth;
				}
				.menu {
					background-color: coral;
					border-radius: 1em 0 0 1em;

					padding: 1rem;

					li {
						height: 100%;

						& + li {
							border-top: 1px dotted black;
						}

						a {
							display: block;
							text-align: right;
							padding: 1rem;
							height: 100%;
							line-height: 1rem;
						}
					}
				}
			}
		}
	}

	header {
		position: absolute;
		top: variable.$pcTitleHeight;
		right: 0;
		height: variable.$pcHeaderHeight;
		padding-right: 2rem;

		background: skyblue;

		@include responsive.media($break) {
			position: inherit;
			height: inherit;
			display: none;

			background: rgb(197, 182, 44);
		}

		@include links();
	}

	footer {
		position: fixed;
		bottom: variable.$pcAdvertisingHeight;
		left: 0;
		right: 0;
		height: variable.$pcFooterHeight;
		text-align: center;

		background: pink;

		@include responsive.media($break) {
			position: fixed;
			bottom: 0;
			height: variable.$spFooterHeight;

			background: rgb(181, 6, 197);
		}

		@include links();
	}

	#advertising {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: variable.$pcAdvertisingHeight;
		text-align: center;

		background: red;

		@include responsive.media($break) {
			position: absolute;
			top: 0;
			height: variable.$spAdvertisingHeight;

			background: rgb(27, 212, 21);
		}

		a {
			&:link,
			&:visited,
			&:after,
			&:hover,
			&:active {
				height: 0;
				transition: none;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
