@use "variable" as variable;
@use "responsive" as responsive;

$break: responsive.$phone;

$base-background-color: #ddd;
$base-color: #111;

$pc-title-background-color: #ccc;
$pc-title-shadow-color: $pc-title-background-color;
$sp-title-background-color: $base-background-color;

$pc-footer-background-color: #ccc;
$pc-footer-shadow-color: $pc-footer-background-color;
$sp-footer-background-color: $pc-footer-background-color;

@mixin links {
	ul {
		height: 100%;

		li {
			height: 100%;
			display: inline-block;

			& + li {
				margin-left: 1rem;
			}

			a {
				height: 100%;

				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
}

* {
	transition-property: background-color;
	transition-duration: 0.25s;
}

body {
	background-color: $base-background-color;
	color: $base-color;

	height: calc(100% - #{variable.$pcAdvertisingHeight});
	@include responsive.media($break) {
		height: calc(100% - #{variable.$spAdvertisingHeight});
	}

	main {
		#title {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: variable.$pcTitleHeight;
			z-index: 100;

			font-size: 16pt;
			font-weight: bold;
			line-height: variable.$pcTitleHeight;
			padding-left: 1rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			background: $pc-title-background-color;
			box-shadow: 0 0 4px 2px $pc-title-shadow-color;

			@include responsive.media($break) {
				background: $sp-title-background-color;
				display: block;
				position: relative;
				width: calc(100% - #{variable.$spNavigationWidth});
				height: variable.$spTitleHeight;
				line-height: variable.$spTitleHeight;
				margin-top: variable.$spAdvertisingHeight;
				padding-left: 0;
				text-align: center;
				box-shadow: none;
			}
		}

		#content {
			margin-top: variable.$pcTitleHeight + variable.$pcHeaderHeight;
			margin-bottom: variable.$pcFooterHeight + variable.$pcAdvertisingHeight;
			padding: 1rem 4rem 3rem;

			@include responsive.media($break) {
				margin-top: 0;
				margin-bottom: variable.$spFooterHeight;
				padding: 1rem 2rem 3rem;
				position: inherit;
				height: inherit;
			}
		}

		// 一旦こいつらは後回し
		.common {
			margin-top: variable.$pcTitleHeight + variable.$pcHeaderHeight;
			@include responsive.media($break) {
				margin-top: 0;
			}

			&.messages {
				color: lime;
			}
			&.error {
				color: red;
			}
		}

		.common.messages + #content {
			margin-top: 0;
		}
		.common.error + #content {
			margin-top: 0;
		}
	}

	nav {
		display: none;

		@include responsive.media($break) {
			display: block;
			height: variable.$spTitleHeight;
			position: absolute;
			top: variable.$spAdvertisingHeight;
			right: 0;

			details {
				summary {
					cursor: pointer;
					text-align: center;
					display: block;
					margin-left: auto;
					background-color: rgb(0, 0, 0, 0.1);
					height: variable.$spTitleHeight;
					width: variable.$spNavigationWidth;
					line-height: variable.$spTitleHeight;
					border-radius: 6px;

					&:before {
						font-size: 20px;
						content: "☰";
					}
				}
				&[open] summary {
					background-color: rgb(0, 0, 0, 0.3);

					&:before {
						content: "✖";
					}
				}

				.menu {
					background-color: #eee;
					border-radius: 1em 0 0 1em;

					padding: 1rem;

					li {
						height: 100%;

						& + li {
							border-top: 1px dotted black;
						}

						a {
							display: block;
							text-align: right;
							padding: 1rem;
							height: 100%;
							line-height: 1rem;
						}
					}
				}
			}
		}
	}

	header {
		position: absolute;
		top: variable.$pcTitleHeight;
		right: 0;
		height: variable.$pcHeaderHeight;
		padding-right: 2rem;

		@include responsive.media($break) {
			display: none;
		}

		@include links();
	}

	footer {
		position: fixed;
		bottom: variable.$pcAdvertisingHeight;
		left: 0;
		right: 0;
		height: variable.$pcFooterHeight;
		text-align: center;
		background-color: $pc-footer-background-color;
		color: $base-color;
		box-shadow: 0 0 4px 2px $pc-footer-shadow-color;

		@include responsive.media($break) {
		background-color: $sp-footer-background-color;
		position: fixed;
			bottom: 0;
			height: variable.$spFooterHeight;
			box-shadow: none;
		}

		@include links();
	}

	#advertising {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: variable.$pcAdvertisingHeight;
		text-align: center;
		background-color: $pc-footer-background-color;
		color: $base-color;

		@include responsive.media($break) {
		background-color: $base-background-color;
			position: absolute;
			top: 0;
			height: variable.$spAdvertisingHeight;
		}

		a {
			&:link,
			&:visited,
			&:after,
			&:hover,
			&:active {
				height: 0;
				transition: none;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
