@import "variable";

a {
	display: inline-block;
	position: relative;
	text-decoration: none;

	&:link {
		color: $normalLinkColor;
	}

	&:visited {
		color: $visitedLinkColor;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 1px;
		left: 0;
		width: 100%;
		height: 1px;
		transform: scaleX(0);
		background-color: $activeLinkColor;
		transition: all 0.3s ease;
	}

	&:hover {
		&:after {
			transform: scaleX(1);
		}
	}

	&:active {
		background-color: $activeLinkColor;
		transition: all 0.2s ease;
	}
}
