$_normal-color: #33c;
$_normal-background-color: transparent;

$_visited-color: #33c;
$_visited-background-color: transparent;

$_active-color: #11f;
$_active-background-color: #eef;

a {
	display: inline-block;
	position: relative;
	text-decoration: none;

	&:link {
		color: $_normal-color;
		background: $_normal-background-color;
	}

	&:visited {
		color: $_visited-color;
		background: $_visited-background-color;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 1px;
		left: 0;
		width: 100%;
		height: 1px;
		transform: scaleX(0);
		background-color: $_active-color;
		transition: all 0.3s ease;
	}

	&:hover {
		&:after {
			transform: scaleX(1);
		}
	}

	&:active {
		background-color: $_active-background-color;
		transition: all 0.2s ease;
	}
}
