@use "core/responsive" as responsive;

ol,
ul {
	&.inline {
		padding: 0;
		margin: 0.25em 1em;

		li {
			display: inline-block;
			margin: 0;
			margin-right: 0.5em;
		}
	}

	li {
		margin-left: 3ex;
		list-style-position: outside;
		list-style-image: none;
	}

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

ol li {
	list-style-type: decimal;
}

ul li {
	list-style-type: disc;
}

dl {
	dd + dt {
		margin-top: 1em;
	}

	dd {
		margin-left: 2ex;

		@include responsive.media(responsive.$phone) {
			margin-left: 1em;
		}
	}
}
