$pcTitleHeight: 60px;
$spTitleHeight: 40px;

$pcHeaderHeight: 60px;
$spHeaderHeight: 40px;

$pcAdvertisingHeight: 60px;
$spAdvertisingHeight: 60px;

$spNavigationWidth: 40px;

$pcFooterHeight: 30px;
$spFooterHeight: 30px;

