
$phone: 'smart-phone';
$tablet: 'tablet';
$computer: 'computer';

$_minWidthTablet: 768;
$_minWidthComputer: 980;

$breakpoints: (
	$phone: 'screen and (max-width: ' + ($_minWidthTablet - 1) + 'px)',
	$tablet: 'screen and (min-width: ' + $_minWidthTablet +  'px) and (max-width: ' + ($_minWidthComputer - 1) + 'px)',
	$computer: 'screen and (min-width: ' + $_minWidthComputer + 'px)',
) !default;

@mixin media($targetBreakPoint) {
	@media #{map-get($breakpoints, $targetBreakPoint)} {
		@content;
	}
}
