.crash-report-list-result {
	tbody {
		.column-sequence {
			text-align: right;
		}

		.column-timestamp {
			text-align: right;
		}

		.column-version {
			text-align: center;
		}

		.column-exception-subject {
			text-align: left;
		}

		.column-detail {
			text-align: center;
		}

		.column-delete {
			text-align: center;
		}
	}
}
