h1 {
	font-size: 14pt;
	text-align: center;
}

*.header {
	list-style: none;
	text-align: center;
	padding: 0;
}

*.footer {
	font-size: 8pt;
	list-style: none;
	padding: 0;
	text-align: center;
}
*.footer li {
	display: inline;
}

*.content {
	margin: 3em auto 4em auto;
	width: 65%;
}

*.main {
	font-size: 14pt;
	border: 2px solid #cccccc;
	background: #eeeeee;
	padding: 8pt;
}
